@inherits LayoutComponentBase

<div class="nav-links">
    <NavLink href="/" Match="NavLinkMatch.All">Survey</NavLink>
    |
    <NavLink href="/home">Submission page</NavLink>
    |
    <NavLink href="/weather"></NavLink>
</div>

<div class="main">
    @Body
</div>
